<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <title>給Mona的俳句</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="preload" as="image" href="/images/<%= haikus[0].image %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="給Mona的俳句">
    <meta property="og:description" content="關於我們救援犬June的精彩俳句">
    <meta property="og:image" content="/images/snowtocat_final.jpg">
    <meta property="og:image:alt" content="雪主題的章魚貓插圖">
  </head>
  <body>
    <h1>給Mona的俳句</h1>
    <div>
      <% for (const [haikuIndex, { image, text }] of haikus.entries()) { %>
        <img
          class="mona-images"
          src="images/<%= image %>"
          alt="俳句插圖 <%= haikuIndex + 1 %>"
          loading="<%= haikuIndex === 0 ? 'eager' : 'lazy' %>" />
        <div class="haiku-containers">
          <p class="haikus"><%= text %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
